$primaryOrange: hsl(31, 77%, 52%); //left box
$primaryDarkCyan: hsl(184, 100%, 22%); //central box
$primaryVeryDarkCyan: hsl(179, 100%, 13%); //right box

$neutralParaWhite: hsla(0, 0%, 100%, 0.75); //paragraphs
$neutralLightGray: hsl(0, 0%, 95%); //background, headings, buttons

%fontLexendDeca {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.6em;
}

%fontBigShouldersDisplay {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    font-size: 2.4rem;
}

* {
    box-sizing: border-box;
}

%buttonsStyle {
    margin-top: 40px;
    width: 150px;
    border: 2px solid $neutralLightGray;
    border-radius: 50px;
    padding: 15px;
    @extend %fontLexendDeca;
    background-color: $neutralLightGray;
    transition: all .2s ease;
    cursor: pointer;
    font-size: .9rem;
    outline: none;

    &:hover {
        border: 2px solid $neutralLightGray;
        background-color: transparent;
        color: $neutralLightGray;
    }
}

%boxSizing {
    width: 300px;
    height:100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: $neutralLightGray;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .boxes-container{
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            height: auto;
            margin: 10% 0;
        }

        .box {
            @extend %boxSizing;

            @media screen and (max-width:900Px) {
                width: 33%;
            }

            @media screen and (max-width: 768px) {
                width: 80%;
                height: auto;
                align-items: center;
                text-align: center;
                & > button {
                    margin-top: 20px; 
                }
            }

            & > h2, & > p {
                color: $neutralParaWhite;
            }

            & > h2 {
                @extend %fontBigShouldersDisplay;
                line-height: .5em;
            }

            & > p {
                @extend %fontLexendDeca;
            }
            & > img {
                width: 64px;
                height: auto
            }

            & > button {
                @extend %buttonsStyle; 
                @media screen and (max-width: 425px) {
                    width: 100%;
                }
            }
        }

        .orange-box {
            background-color: $primaryOrange;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;

            @media screen and (max-width: 768px) {
                border-top-right-radius: 8px;
                border-bottom-left-radius: 0;
            }

            & .orange-box-btn {
                color: $primaryOrange;
            }
        }

        .cyan-box {
            background-color: $primaryDarkCyan;

            & .cyan-box-btn {
                color: $primaryDarkCyan;
            }
        }

        .dark-cyan-box {
            background-color: $primaryVeryDarkCyan;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;

            @media screen and (max-width: 768px) {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                border-top-right-radius: 0;
            }

            & .dark-cyan-box-btn {
                color: $primaryVeryDarkCyan;
            }
        }
    }
}